<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Binary search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

</head>

<body ng-controller="sessionController as vm">
    <form novalidate class="simple-form">
        <input type="text" ng-model='entry' />
        <input type="submit" ng-click='submit(entry)'/>
      
    </form>
  {{result.image}}
    <pre>{{scopeImages|json}}</pre>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/sessionController.js"></script>
</body>

</html>